a {
    text-decoration: none;
}

textarea {
    resize: none;
    width: 100%;
    height: 10rem;
}


.container {
    flex: 1; /* 자식 요소가 부모 요소의 남은 공간을 채우도록 설정 */
    display: flex;
    flex-direction: column; /* 필요에 따라 자식 요소를 세로로 배치 */
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    position: absolute;
    height: 90%;
}

.table-container {
    width: 100%;
    padding: 10px;
}

.board-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.board-table th, .board-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.board-table th {
    background-color: #f2f2f2;
    font-weight: bold;
    text-align: center;
    border-bottom: 2px solid #333333;
}

.board-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.board-table tr:hover {
    background-color: #f1f1f1;
}

.board-table th, .board-table td {
    padding: 12px 15px;
}

.board-table td {
    text-align: center;
}

.paging-container {
    display: flex;
    justify-content: center;
    align-content: center;
}

.write-container {
    display: flex;
    justify-content: right;
}

.button-container {
    margin-right: 30px;
    margin-bottom: 10px;
}

.btn {
    padding: 6px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.btn-search {
    background-color: #008CBA; /* 파란색 */
    color: white;
}

.btn-search:hover {
    background-color: #007bb5;
}


.btn:hover {
    opacity: 0.8;
}

/* 작성 버튼 */
.btn-write {
    background-color: #4CAF50; /* 녹색 */
    color: white;
}

.btn-write:hover {
    background-color: #45a049;
}

/* 저장 버튼 */
.btn-save {
    background-color: #008CBA; /* 파란색 */
    color: white;
}

.btn-save:hover {
    background-color: #007bb5;
}

/* 취소 버튼 */
.btn-cancel {
    background-color: #f44336; /* 빨간색 */
    color: white;
}

.btn-cancel:hover {
    background-color: #da190b;
}

/* 삭제 버튼 */
.btn-delete {
    background-color: #555555; /* 회색 */
    color: white;
}

.btn-delete:hover {
    background-color: #333333;
}

.search-container div {
    margin-left: 20px;
    margin-right: 20px;
}

.search-container {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
}

.search-form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
}

.form-container {
    width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.form-group {
    display: flex;
    align-items: center;
    gap: 10px;
}

.form-group label {
    font-weight: bold;
}

.form-group input[type="date"],
.form-group select,
.form-group input[type="text"] {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.form-group span {
    margin: 0 10px;
}

/*a*/
.form-group2 {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #333333;
    padding: 5px;
}

.form-group2 label {
    font-weight: bold;
}

.form-group2 input[type="text"],
.form-group2 input[type="password"],
.form-group2 select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 100%;
}

.form-group2 textarea {
    height: 100px;
}

.file-upload {
    display: flex;
    align-items: center;
    margin: 10px;
}



.file-upload button {
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 3px;
    margin-left: 10px;
}

.file-upload button:hover {
    background-color: #e6e6e6;
}

.footer-container {
    position: fixed;
    bottom: 50px;
    left: 0;
    width: 100%;
}

.board-header-container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.board-content-container {
    margin: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 2px solid #333333;
    border-bottom: 2px solid #333333;
}

.content-textarea {
}

.board-file-container {
    margin: 10px;
}

.board-comment-container {
    padding: 10px;
    background-color: #eae6e6;
}

.comment-container {
    display: flex;
    flex-direction: column; /* 필요에 따라 자식 요소를 세로로 배치 */
}

.comment {
    width: 100%;
    margin-bottom: 10px;
    border-bottom: 1px solid #020202;
}

.comment-date {
    font-size: 12px;
}

.comment-btn-container {
    display: flex;
    justify-content: left;
    margin-bottom: 10px;
}

.comment-textarea-container {
    display: flex;
    justify-content: space-between;
}

.comment-textarea {
    width: 95%;
    height: 4.25em;
}

.footer-btn-container {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    gap: 10px;
}
